@model SJ.One_Core.Models.AccountViewModels.UserGenderViewModel

@{
    ViewData["Title"] = "Выберите пол";
}
<div class="row">
    <div class="col"></div>
    <div class="card col-sm-7 col-md-6 col-lg-5 col-xl-4 mx-1">
        <div class="card-body">
            <h2 class="card-title text-center">Пол</h2>
            <hr />
            <form asp-action="СhooseUserGender">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>                
                <input asp-for="Id" type="hidden" value="@Model.Id" />
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control"><option selected="selected" value="">Укажите Ваш пол</option></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <a asp-controller="Account" asp-action="Info" class="btn btn-secondary btn-block" role="button">Назад</a>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block">Далее</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
