@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Велкам</h1>
    <p>Шайтанама <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core аппликатион</a>.</p>
</div>
